EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDc6GK7SBx2bGlHZq3woMx42ACce9o-k1k
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=historyapplication-de20b.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=historyapplication-de20b
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=historyapplication-de20b.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=407820792963
EXPO_PUBLIC_FIREBASE_APP_ID=1:407820792963:web:f2e76dfcba01cc9f1617b6
EXPO_PUBLIC_CONTENT_BASE_URL=https://historyapplication-de20b.web.app/content
EXPO_PUBLIC_GOOGLE_CLIENT_ID=407820792963-dmenoe4kdh2fsuviojcfevebp4ietko2.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=407820792963-dmenoe4kdh2fsuviojcfevebp4ietko2.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=407820792963-2vhnko9kf9kmmpe52buba2pr3lot5meu.apps.googleusercontent.com
